<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>debugging</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.joe.wepay3</key>
		<string>wepay3</string>
	</dict>
	<key>signingCertificate</key>
	<string>B2487287F1CA0976B616E42D1601F24DF890123D</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>9PK39XPFFJ</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
